<form autocomplete="off" (ngSubmit)="guardarPersonal(formTemplate)" #formTemplate="ngForm">
    <h3 class="mt-5" *ngIf="!modificar">
        Crear trabajador</h3>
    <h3 class="mt-5" *ngIf="modificar">Modificar trabajador con id {{id}}</h3>

    <div>
        <!-- IdPersonal -->
        <div class="row" *ngIf="!modificar">
            <label class="col-2 col-form-label">IdPersonal</label>
            <div class="col-8">
                <input class="form-control" type="number" placeholder="" name="IdPersonal" #IdPersonal="ngModel" [(ngModel)]="IdPersonalText">
                <small class="form-text text"> Ingrese un IdPersonal</small>
            </div>
        </div>


        <!-- ApPaterno -->
        <div class="row">
            <label class="col-2 col-form-label">ApPaterno</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" name="ApPaterno" #ApPaterno="ngModel" [(ngModel)]="ApPaternoText">
                <small class="form-text text"> Ingrese un ApPaterno</small>
            </div>
        </div>
        <!-- ApMaterno -->
        <div class="row">
            <label class="col-2 col-form-label">ApMaterno</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" [(ngModel)]="ApMaternoText" name="ApMaterno" #ApMaterno="ngModel">
                <small class="form-text text"> ApMaterno</small>
            </div>
        </div>
        <!-- Nombre1 -->
        <div class="row">
            <label class="col-2 col-form-label">Nombre1</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" [(ngModel)]="Nombre1Text" name="Nombre1" #Nombre1="ngModel">
                <small class="form-text text"> Ingrese un Nombre1</small>
            </div>
        </div>
        <!-- Nombre2 -->
        <div class="row">
            <label class="col-2 col-form-label">Nombre2</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" [(ngModel)]="Nombre2Text" name="Nombre2" #Nombre2="ngModel">
                <small class="form-text text"> Ingrese un Nombre2</small>
            </div>
        </div>
        <!-- FchNac -->
        <div class="row">
            <label class="col-2 col-form-label">FchNac</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" [(ngModel)]="FchNacText" name="FchNac" #FchNac="ngModel">
                <small class="form-text text"> Ingrese un FchNac: FORMATO: 20021995</small>
            </div>
        </div>
        <!-- FchIngreso -->
        <div class="row">
            <label class="col-2 col-form-label">FchIngreso</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="" [(ngModel)]="FchIngresoText" name="FchIngreso" #FchIngreso="ngModel">
                <small class="form-text text"> Ingrese un FchIngreso: FORMATO: 20021995</small>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col" style="text-align: center;">
            <button class="mt-2" mat-raised-button color="primary" type="submit">Crear trabajador</button>
        </div>
    </div>
</form>