<div class="mat-elevation-z8 mt-5">
    <table mat-table [dataSource]="data" style="width: 100%;">

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="IdPersonal">
            <th mat-header-cell *matHeaderCellDef> IdPersonal </th>
            <td mat-cell *matCellDef="let element"> {{element.idPersonal}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="ApPaterno">
            <th mat-header-cell *matHeaderCellDef> ApPaterno </th>
            <td mat-cell *matCellDef="let element"> {{element.apPaterno}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="ApMaterno">
            <th mat-header-cell *matHeaderCellDef> ApMaterno </th>
            <td mat-cell *matCellDef="let element"> {{element.apMaterno}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="Nombre1">
            <th mat-header-cell *matHeaderCellDef> Nombre1 </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre1}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="Nombre2">
            <th mat-header-cell *matHeaderCellDef> Nombre2 </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre2}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="NombreCompleto">
            <th mat-header-cell *matHeaderCellDef> NombreCompleto </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="FchNac">
            <th mat-header-cell *matHeaderCellDef> FchNac </th>
            <td mat-cell *matCellDef="let element"> {{element.fchNac}} </td>
        </ng-container>

        <!-- IdPersonal  Column -->
        <ng-container matColumnDef="FchIngreso">
            <th mat-header-cell *matHeaderCellDef> FchIngreso </th>
            <td mat-cell *matCellDef="let element"> {{element.fchIngreso}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>